@model StamatAut.Models.Technologies.TechnologiesFarmModels
@{
    ViewBag.Title = "SelectTechnologies";
    <script src="@Url.Content("~/Scripts/myscriptIndexTehnologiesFarm.js")" type="text/javascript"></script>

}
    <div id="t1">
        <div class="slider">
            <h1>Подбор технологий</h1>
            <h2>
                Определение возможности применения различных технологий из имеющихся в БД базовых технологий исходя из уcловий расположения хозяйства
            </h2>
            <h3>Порядок работы с разделом:</h3>
            <h3>
                Для работы с данным разделом необходимо: выбрать из выпадающего списка год урожая; создать технологические карты с указанием
                культуры, предшественника и списка рабочих участков; добавить по каждому рабочему участку информацию о сорняках, болезнях и вредителях.
                Перейти к подбору технологий нажав кнопку "Продолжить"
            </h3>
        </div>
        <h2>Подбор технологий</h2>
        <h3 style="text-align:center; display:block;" id="noscr">
            Для работы с программой необходимо разрешить выполнение скриптов в браузере.
            Для этого зайдите в настройки браузера и поставьте галочку в поле "Разрешить выполнение JavaScript"
        </h3>

        @*  <p>selWAreas: <input type="hidden" name="AllwAreas" id="selWAreas" value='0' /></p>
        <div class="main inline" hidden>

            <div id="okClose">
                <input type="submit" class="BtnPests" value="_selectPests" title="Обработкка от вредителей" onclick="sel('_selectPests')" />
            </div>
            <div id="okClose">
                <input type="submit" class="BtnWeed" value="_selectWeed" title="Обработка от сорняков" onclick="sel('_selectWeed')" />
            </div>
            <div id="okClose">
                <input type="submit" class="BtnDisease" value="_selectDisease" title="Обработка от болезней" onclick="sel('_selectDisease')" />
            </div>
            <div id="okClose">
                <input type="submit" class="BtnFertilize" value="_selectDisease" title="Внесение удобрений" onclick="sel('_selectFertilizers')" />
            </div>
        </div>*@
        @using (Html.BeginForm("Index", "Technologies", FormMethod.Post))
        {
            <div>Выберите действие для дальнейшей работы</div>
            <div>
                <h3>Укажите год урожая</h3>
                <select class="inputTextLong" name="years" id="year" onchange="selYear2()">
                    @foreach (var item in Model.years)
                    {
                        if (item == Model.year)
                        {
                            <option selected>@item</option>}
                        else
                        {
                            <option>@item</option>}
                    }
                </select>
                <h1></h1>
            </div>
            <div class="main inline">
                <div class="Col1">
                    <input type="hidden" id="col" value="@Model.countWorkArea" />

                    @if (Model.idEditTkr >= -1) //Если есть хотя бы 1 ТКР за выбранный год
                    {
                        <div class=" Tkr">
                            @for (int j = 0; j < Model.tkrs.Count(); j++)
                            {
                                if (Model.tkrs.ElementAt(j).Id == Model.idEditTkr)// режим редактирования текущей ТКР
                                {
                                    <div class="editTkr">
                                        <input type="hidden" name="idTkr" value=@Model.idEditTkr />
                                        <table>
                                            <tr>
                                                <td>
                                                    Уровень интенсификации
                                                    <select name="intens" id="intens1" required>
                                                        <option></option>
                                                        @foreach (var i in Model.intensificalionVal)
                                                        {
                                                            if (i == Model.tkrs.ElementAt(j).Intensification)
                                                            {
                                                                <option selected>@i</option>}
                                                            else
                                                            {
                                                                <option>@i</option>}
                                                        }
                                                    </select>

                                                    Культура
                                                    <select name="culture" id="cult1" required>
                                                        <option></option>
                                                        @foreach (var i in Model.cultureVal)
                                                        {
                                                            if (i.Name == Model.tkrs.ElementAt(j).Culture)
                                                            {
                                                                <option selected>@i.Name</option>}
                                                            else
                                                            {
                                                                <option>@i.Name</option>}
                                                        }
                                                    </select>
                                                    Предшественник
                                                    <select name="predsh" id="pred1" required>
                                                        <option></option>
                                                        @foreach (var i in Model.predshVal)
                                                        {
                                                            if (i == Model.tkrs.ElementAt(j).Pred)
                                                            {
                                                                <option selected>@i</option>}
                                                            else
                                                            {
                                                                <option>@i</option>}
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="wAreasAdd" style="display:block;">

                                            <fieldset>
                                                <table id="tableAdd">
                                                    <caption>Отметьте рабочие участки, для добавления в технологическую карту</caption>
                                                    <tr>
                                                        <td>
                                                            @foreach (var wa in Model.wAreas)
                                                            {
                                                                if (Model.tkrs.ElementAt(j).WA.Where(y => y.Id == wa.Id).Count() > 0)
                                                                {
                                                                    <h4>
                                                                        <input type="checkbox" id="selectWA" name="selectWAraes" value="@wa.Id" checked />Номер участка: @wa.Name Площадь:  @wa.Square га
                                                                    </h4>
                                                                }
                                                                else
                                                                {
                                                                    if (wa.YorN)
                                                                    {
                                                                        <h4 style="color:gray;">
                                                                            <input type="checkbox" id="selectWA" name="selectWAraes" value="@wa.Id" />Номер участка: @wa.Name Площадь:  @wa.Square га
                                                                        </h4>
                                                                    }
                                                                    else
                                                                    {
                                                                        <h4>
                                                                            <input type="checkbox" id="selectWA" name="selectWAraes" value="@wa.Id" />Номер участка: @wa.Name Площадь:  @wa.Square га
                                                                        </h4>
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            * Серым цветом в списке указаны рабочие участки, принадлежащие, другой Технолочической карте.
                                                            Выбирая данный участок вы автоматически соглашаетесь переписать его в текущую технологическую карты
                                                        </td>
                                                    </tr>

                                                </table>
                                                <div id="okClose" style="position: relative; ">
                                                    <input type="submit" class="okBtnRight" name="Action" value="addWAreasToTkr" title="Сохранить изменения" />
                                                    <input type="submit" class="closeBtnRight" name="Action" value="closeEditTkr" title="Отмена" formnovalidate />
                                                </div>
                                            </fieldset>



                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="infoTkr">
                                        <table>
                                            <tr>
                                                <td class="c2">
                                                    @Model.tkrs.ElementAt(j).Name
                                                </td>
                                                <td>
                                                    @if (Model.idEditTkr == 0)
                                                    {
                                                        <input type="submit" class="editTKRBtn" name="Action" value="editTKR @Model.tkrs.ElementAt(j).Id" title="Внести изменения в Технологическую карту"
                                                               @(Model.idEditTkr > 0 ? "disabled=\"disabled\"" : "") />
                                                        <input type="submit" class="delBtn" name="Action" value="delTKR @Model.tkrs.ElementAt(j).Id" title="Удалить Технологическую карту"
                                                               @( Model.idEditTkr > 0 ? "disabled=\"disabled\"" : "") />
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                        <table id="tableId">
                                            @for (int i = 0; i < Model.tkrs.ElementAt(j).WA.Count(); i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (i < Model.tkrs.ElementAt(j).WA.Count())
                                                        {
                                                            <div id="idListArea @Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" class="workAreaInfo" value="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" onclick="calc2(@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id)">
                                                                @Html.Label("Номер участка: " + Model.tkrs.ElementAt(j).WA.ElementAt(i).Name)
                                                                <input type="hidden" name="AllwAreas" id="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" value="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" />
                                                            </div>
                                                            i = i + 1;
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (i < Model.tkrs.ElementAt(j).WA.Count())
                                                        {
                                                            <div class="workAreaInfo" id="idListArea @Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" value="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" onclick="calc2(@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id)">
                                                                @Html.Label("Номер участка: " + Model.tkrs.ElementAt(j).WA.ElementAt(i).Name)
                                                                <input type="hidden" name="AllwAreas" id="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" value="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" />
                                                            </div>
                                                            i = i + 1;
                                                        }

                                                    </td>
                                                    <td>
                                                        @if (i < Model.tkrs.ElementAt(j).WA.Count())
                                                        {
                                                            <div class="workAreaInfo" id="idListArea @Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" value="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" onclick="calc2(@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id)">
                                                                @Html.Label("Номер участка: " + Model.tkrs.ElementAt(j).WA.ElementAt(i).Name)
                                                                <input type="hidden" name="AllwAreas" id="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" value="@Model.tkrs.ElementAt(j).WA.ElementAt(i).Id" />
                                                            </div>

                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        </table>
                                    </div>

                                }



                            }
                        </div>
                    }
                    @if ((!Model.nullTkrs) || (Model.idEditTkr == 10000))//если нет ни одной ТКР за выбранный год или добавляем еще 1 ТКР
                    {
                        <div class="Tkr">
                            <input type="hidden" name="idTkr" id="selWAreas" value='-1' />
                            <div class="editTkr">
                                <table>
                                    <tr>
                                        <td>
                                            Уровень интенсификации
                                            <select name="intens" id="intens1" required>
                                                <option></option>
                                                @foreach (var i in Model.intensificalionVal)
                                                {
                                                    <option>@i</option>
                                                }
                                            </select>
                                            Культура
                                            <select name="culture" id="cult1" required>
                                                <option></option>
                                                @foreach (var i in Model.cultureVal)
                                                {
                                                    <option>@i.Name</option>
                                                }
                                            </select>
                                            Предшественник
                                            <select name="predsh" id="pred1" required>
                                                <option></option>
                                                @foreach (var i in Model.predshVal)
                                                {
                                                    <option>@i</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <div class="wAreasAdd" style="display:block;">
                                    <div id="tag2">
                                        <fieldset>
                                            <table id="tableAdd">
                                                <caption>Отметьте рабочие участки, для добавления в технологическую карту</caption>
                                                <tr>
                                                    <td>
                                                        @foreach (var wa in Model.wAreas)
                                                        {
                                                            if (wa.YorN)
                                                            {
                                                                <h4 style="color:gray;">
                                                                    <input type="checkbox" id="selectWA" name="selectWAraes" value="@wa.Id" />Номер участка: @wa.Name Площадь:  @wa.Square га
                                                                </h4>
                                                            }
                                                            else
                                                            {
                                                                <h4>
                                                                    <input type="checkbox" id="selectWA" name="selectWAraes" value="@wa.Id" />Номер участка: @wa.Name Площадь:  @wa.Square га
                                                                </h4>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        * Серым цветом в списке указаны рабочие участки, принадлежащие, другой Технолочической карте.
                                                        Выбирая данный участок вы ачтоматически соглашаетесь переписать его в текущую технологическую карты
                                                    </td>
                                                </tr>

                                            </table>
                                            <div id="okClose" style="position: relative; ">
                                                <input type="submit" class="okBtnRight" name="Action" value="addWAreasToTkr" title="Сохранить изменения" />
                                                <input type="submit" class="closeBtnRight" name="Action" value="closeEditTkr" title="Отмена" formnovalidate />
                                            </div>
                                        </fieldset>

                                    </div>

                                </div>

                            </div>

                        </div>
                    }
                </div>
                <div class="Col2">
                    <div id="tag">
                        @if (((Model.idEditTkr == 0 || Model.idEditTkr == -1) && Model.idEditTkr != 10000) && (Model.nullTkrs))
                        {

                            <fieldset>
                                <table id="tableInfo">
                                    <caption>Сводная информация по рабочим участкам</caption>
                                    @for (int i = 0; i < Model.cultureName.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.Label(Model.cultureName[i] + ": " + Model.squareOfCulture[i].ToString() + " га")
                                            </td>
                                        </tr>
                                    }


                                </table>
                            </fieldset>


                        }
                    </div>
                </div>
            </div>
            if (Model.idEditTkr == 0 && Model.nullTkrs)
            {
                <div>
                    <input type="submit" class="addTkrBtn" name="Action" value="addTKR" title="Добавить ТКР" />
                    Добавить технологическую карту
                </div>
            }
        }
        <div class="main inline">
            <div class="Col1">
                <table id="waTable">
                    <caption>Нераспределенные участки</caption>
                    @{ var w = Model.wAreas.Where(x => x.YorN == false).ToList();}
                    @if (w.Count == 0)
                    {
                        <tr><td>Отсутствуют</td></tr>}
                    else
                    {
                        int ii = 0;
                        while (ii < w.Count)
                        {
                            <tr>
                                <td>
                                    @if (ii < w.Count)
                                    {
                                        <div class="workAreaInfo">
                                            @Html.Label("Номер участка: " + w.ElementAt(ii).Name)
                                        </div>
                                        ii = ii + 1;
                                    }

                                </td>
                                <td>
                                    @if (ii < w.Count)
                                    {
                                        <div class="workAreaInfo">
                                            @Html.Label("Номер участка: " + w.ElementAt(ii).Name)
                                        </div>
                                        ii = ii + 1;
                                    }
                                </td>
                                <td>
                                    @if (ii < w.Count)
                                    {
                                        <div class="workAreaInfo">
                                            @Html.Label("Номер участка: " + w.ElementAt(ii).Name)
                                        </div>
                                        ii = ii + 1;
                                    }
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>
                            @using (Html.BeginForm("Index", "Technologies", FormMethod.Post))
                            {

                                <input type="hidden" name="tkrList" value="@Model.ListTkrs" />

                                <div id="okClose" style="position: relative; ">
                                    <input style="position: absolute;right: 10px;top: 5px;" type="submit" type="submit" class="okBtn" name="Action" value="Calculate" title="Продолжить" />
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>

                            }
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>


        </div>


        


    </div>

<script type="text/javascript">

            scr(@Model.countWorkArea);
            allOn(@Model.countWorkArea);
           
</script>



